.filter-content {
    mat-form-field {
      width: 100%;  
      margin-bottom: -1.40em;    
      height: 75px; 
    }
  }

  .material-button.color_green { color: white; background-color: #1EB980; }
