<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-lg-9">                  
                <div class="filter-content">
                    <mat-form-field appearance="fill">
                    <mat-label>Buscar tipos de documento</mat-label>
                    <input matInput #filtroInput (keyup.enter)="applyFilter()"/>
                    <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 align-items-end mt-2" style="text-align: right;">
                <button mat-raised-button class="example-button-row" (click)="openAddTipoDocumentoForm()">
                    + Registrar
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">      
        <div>
            <table mat-table [dataSource]="dataSource"  >

                <ng-container matColumnDef="rownum">
                    <th mat-header-cell *matHeaderCellDef> N° </th>
                    <td mat-cell *matCellDef="let element" class="bold-cell"> {{ element.rownum }} </td>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
                </ng-container>

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{ element.codigo }} </td>
                </ng-container>
        
                <ng-container matColumnDef="fechareg">
                    <th mat-header-cell *matHeaderCellDef> Registrado </th>
                    <td mat-cell *matCellDef="let element"> {{ element.fechaReg | dateFormat }} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;">          
                    <button mat-icon-button (click)="openEditTipoDocumentoForm(element.idTipoDocumentoRenac)" matTooltip="Editar">
                        <mat-icon class="primary-icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDeleteTipoDocumento(element.idTipoDocumentoRenac)" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>        
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"
                showFirstLastButtons
                [length]="paginacion.totalReg || 0"
                [pageSize]="paginacion.rowsPerPage || 0"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>    
    </div>
  </div>

 