.filter-content {
    mat-form-field {
      width: 100%;  
      margin-bottom: -1.40em;    
      height: 75px; 
    }
  }

  .material-icons.color_green { color: #1EB980; }
  .material-icons.color_red { color: #f44336; }

  .mat-column-evaluacionfavorable,
  .mat-column-documentos,
  .mat-column-solicitudgore,
  .mat-column-diastranscurridos,
  .mat-column-constanciaanotacion,
  .mat-column-editconstanciaanotacion,
  .mat-column-estadoinforme {
    text-align: center;
  }

  .mat-header-cell {
    text-align: center;
  }